table,
td {
  border: 1px solid lightgray;
  border-collapse: collapse;
}

td {
  width: 200px;
  height: 200px;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.next-player {
  font-size: 40px;
  line-height: 100px;
}

#app {
  display: flex;
  margin: 1rem;
}

.history {
  padding: 10px;
}
